{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'game.css' %}">
</head>
<body>
    <div id='pong'>
        <canvas id="pong-game"></canvas>
    </div>
    <p id="data"></p>
</body>
<script>
    var playerPicUrl = "{% static 'player.png' %}";
    var ballPicUrl = "{% static 'ball.png' %}";
    var opponentPicUrl = "{% static 'opponent.png' %}";
    console.log(playerPicUrl);
    console.log(ballPicUrl);
    console.log(opponentPicUrl);
</script>
<script type="module" src="{% static 'game.js' %}"></script>
</html>