<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="testWS('matchmaking')">matchmaking</button>
    <!-- <button onclick="testWS('tournament', 'create/')">tournament</button> -->
    <button onclick="sendtoWS()">sendtoWS</button>
    <p>WS reply</p>
    <div id="ws-reply"></div>
</body>
<script>
    var ws;
    function testWS(endpoint, room="") {
        ws = new WebSocket(`ws://localhost:8000/ws/${endpoint}/${room}`);
        console.log(`try to connect ${ws}`);
        ws.onopen = function() {
            console.log("connected");
            ws.send("test");
        }
        ws.onmessage = function(e) {
            console.log('tete')
            let elem = document.getElementById("ws-reply");
            let p = document.createElement("p");
            p.textContent = e.data;
            elem.innerHTML = "";
            elem.appendChild(p);
        }
    }
    function sendtoWS(){
        ws.send("this is the test please reply")
    }
</script>
</html>