.frame {
	height: auto;
	width: 60%;
	border: #1e4950 3px solid;
	border-radius: 30px;
	background-color: rgba(146,220,253, 0.5);
    padding: 35px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.frame div {
    padding-bottom: 20px;
}

.frame h1 {
    display: flex;
    flex-direction: row;
    align-self: start;
    padding-bottom: 20px;
    font-size: 50px;
}

.frame button {
    font-size: 30px;
}